:root {
  --primary-color: #60dc8c;
  --primary-hover: #4aac6c;
  --text-color: #333;
  --secondary-text: #666;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Noto Sans JP", serif;
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 900px;
  background: white;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

h1, h2, p {
  color: var(--text-color);
  margin-bottom: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
  font-size: 1rem;
  color: var(--secondary-text);
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 20px auto;
  width: 80%;
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 9px;
  transition: 0.3s;
  width: 90%;
  max-width: 500px;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: var(--box-shadow);
}

.links a:hover {
  background: var(--primary-hover);
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

footer {
  margin-top: 30px;
  font-size: 0.9rem;
  color: var(--secondary-text);
}

@media (max-width: 560px) {
  .container {
      width: 83%;
      margin: 20px auto;
      padding: 15px;
  }

  h1 {
      font-size: 1.8rem;
  }

  h2 {
      font-size: 1.3rem;
  }

  .links a {
      width: 100%;
      font-size: 1.1em;
  }
}